.container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.formContainer {
    flex: 1;
}

.imgContainer {
    position: relative;
    flex: 1;
    height: 500px;
}

.img {
    object-fit: contain;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        min-height: calc(100vh - 200px);
        gap: 50px;
    }
    .imgContainer {
        flex: none;
        height: 110px;
        width: 110px;
    }
}