.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top {
    display: flex;

}

.imgContainer {
    width: 100%;
    height: 480px;
    position: relative;
}

.img {
    object-fit: cover;
}

.date {
    font-size: 12px;
    transform: rotate(270deg);
    margin: auto -15px;
}

.title {
    font-size: 24px;
    width: 90%;
}

.desc {
    font-weight: 300;
    color: gray;
    width: 90%;
}

.link {
    text-decoration: underline;
}