.post {
    padding: 5px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
.forms {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.postButton {
    padding: 5px;
    border: none;
    cursor: pointer;
}
.deleteButton {
    background-color: red;
    border-radius: 5px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detail {
    display: flex;
    gap: 10px;
    align-items: center;
}

.detailTexts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}